<!DOCTYPE html>
<html>
<head>
  <title>Flirt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-wrap">
  <%= render :partial => 'layouts/nav' %>
</div>

<%= yield %>

<%= render :partial => 'layouts/footer' %>
  <%= javascript_include_tag params[:controller] %>
  <!-- this gives you the name of the page you're on. Magic. -->


</body>
</html>
